<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.BoostanfarQA"
        versionCode="10"
        version   = "1.0.0">

    <!-- ios only -->

    <ios>
        <plist>
            <dict>
                <key>UIViewControllerBasedStatusBarAppearance</key>
                <string>NO</string>
            </dict>
        </plist>
    </ios>
    <icon src="res/icons/ios/icon_57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/icon_114.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/icon_144.png" gap:platform="ios" width="114" height="114" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="res/icons/ios/icon_144.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="res/screen/ios/screen-ipad-landscape.png.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape-2x.png.png" gap:platform="ios" width="2048" height="1536" />


    <!-- for all platform -->
    <icon src="icon_144.png" />
    <gap:splash src="splash.png" />

    <name>Boostanfar QA</name>

    <description>
        Boostanfar QA application
    </description>

    <author href="https://build.phonegap.com" email="burymm@gmail.com">
        Mikalai Bury
    </author>

    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />


    <gap:platform name="ios" />
    <!--<gap:platform name="android" />-->

</widget>