<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.BoostanfarQA"
        versionCode="10"
        version   = "1.0.0">

    <!-- ios only -->

    <ios>
        <plist>
            <dict>
                <key>UIViewControllerBasedStatusBarAppearance </key>
                <string>NO</string>
            </dict>
        </plist>
    </ios>
    <!-- for all platform -->

    <name>Boostanfar QA</name>

    <description>
        Boostanfar QA application
    </description>

    <author href="https://build.phonegap.com" email="burymm@gmail.com">
        Mikalai Bury
    </author>

    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />


    <gap:platform name="ios" />
    <gap:platform name="android" />

</widget>